CMS-Nishanth_Enterprises/backend/node_modules/*
CMS-Nishanth_Enterprises/frontend/node_modules/*
PublicSite-Nishanth_Enterprises/node_modules/*
PublicSite-Nishanth_Enterprises/public/*
CMS-Nishanth_Enterprises/frontend/.next/*
CMS-Nishanth_Enterprises/backend/assets/*